.header-top {
  display: flex;

  h1 {
    a {
      .header-logo {
        margin-left: 260px;
        margin-right: 50px;
      }
    }
  }

  .signup-bar {
    ol {
      width: 550px;
      margin-top: 30px;

      li {
        .progress-circle {
          width: 13px;
          height: 13px;
          background: #ccc;
          border-radius: 50%;
          margin: 8px auto 0;
        }
        .top-bar {

        }
      }
    }
  }
}
