.single-header {
  background: #F5F5F5;
  height: 128px;
  text-align: center;

  & h1 {
    display: inline-block;
    margin: 11px 0 12px;

    & a {
      margin: 0 8px 0 0;
      display: inline-block;

      img {
        height: 80px;
        width: 150px;
      }
    }
  }
}
