.l-content
  .l-content-container
    %form.l-single-inner{action: "https://www.mercari.com/jp/logout/", method: "POST", novalidate: "novalidate"}
      .l-single-content
        = link_to "ログアウト",items_path, method: :delete, class: "header-logout-btn"
        / destroy_user_session_path
