.search--around {
  display: flex;
  width: 80%;
  margin: 50px auto;

  .s--left {
    width: 25%;
    height: 900px;
    margin-right: auto;

    &__sort {
      background: white;
      width: 100%;
      height: 80px;
    }

    &__search {
      background: white;
      width: 100%;
      height: 100%;
      margin-top: 40px;

      &__title {
        padding: 20px 20px 0;
      }

      &__word {
        padding: 20px;

        &__label {
          &__add {
            font-weight: bold;
          }
        }

        &__input {

        }
      }

      &__category {
        padding: 20px;

        &__label {
          &__add {
            font-weight: bold;
          }
        }

        &__input {
          position: relative;
          .arrow {
            position: absolute;
            right: 10%;
            bottom: 25%;
          }
        }
      }

      &__brand {
        padding: 20px;
        &__label {
          &__add {
            font-weight: bold;
          }
        }

        &__input {

        }
      }

      &__size {
        padding: 20px;
        &__label {
          &__add {
            font-weight: bold;
          }
        }

        &__input {
          position: relative;
          .arrow {
            position: absolute;
            right: 10%;
            top: 30%;
          }
        }
      }

      &__price {
        padding: 20px;
        &__label {
          &__add {
            font-weight: bold;
          }
        }

        &__input {
          position: relative;
          .arrow {
            position: absolute;
            right: 10%;
            top: 30%;
          }
        }

        &__max {
          display: flex;
          margin-top: 10px;
          position: relative;

          .low-input {
            .low-price {
              width: 85%;
              height: 35px;
              border-radius: 4px;
            }
          }

          span {
            position: absolute;
            left: 45%;
            top: 30%;
          }
          .high-input {
            .high-price {
              width: 85%;
              height: 35px;
              border-radius: 4px;
            }
          }
        }
      }

      &__condition {
        padding: 20px;
        &__label {
          &__add {

          }
        }

        &__input {

        }
      }

      &__delivery {
        padding: 20px;
        &__label {
          &__add {

          }
        }

        &__input {

        }
      }

      &__status {
        padding: 20px;
        &__label {
          &__add {

          }
        }

        &__input {

        }
      }

      &__button {
        display: flex;

        &__clear-btn {
          background: gray;
          color: white;
          padding: 10px 25px;
          margin: auto;
        }

        .search-btn {
          background: red;
          color: white;
          padding: 10px 30px;
          margin: auto;
        }
      }
    }
  }

  .s--right {
    width: 68%;

    &__result {
      &__title {
        font-weight: 400;
        font-size: 22px;
        line-height: 1.4;
        margin: 0 0 8px 20px;
      }
    }

    &__item {
      display: flex;
      flex-wrap: wrap;

      &__one {
        width: 160px;
        margin: 10px auto;

        &__p {
          position: relative;
          width: 160px;
          height: 160px;

          img {
            width: 160px;
            height: 160px;
            // object-fit: contain;
          }

          &__budge {
            @include budge;
          }

          &__sold {
            @include sold
          }
        }
        &__body {
          padding: 16px;
          background: white;
          color: #333;

          &__name {
            overflow: hidden;
            position: relative;
            font-weight: 400;
            height: 3em;
            line-height: 1.5;
            word-break: break-word;
            white-space: normal;
          }

          &__info {
            position: relative;

            &__price {
              font-weight: 600;
            }

            &__likes {
              position: absolute;
              right: 0;
              bottom: 45%;
              span {

              }
            }

            &__tax {

            }
          }
        }
      }
    }
  }
}

.search-button{
    -moz-appearance:button;
    -webkit-appearance:button;
    -o-appearance:button;
     border:0;
}




