.app-banner {

    background: image-url("topPage/aside_main.jpg");
    background-position: center;
    background-size: cover;

  &__pc {
    display: block;
    position: relative;
    width: 750px;
    height: 260px;
    margin: 0 auto;
    color: #fff;


    &__inner {
      position: absolute;
      top: 50%;
      left: 16px;
      -webkit-transform: translate(0, -50%);
      transform: translate(0, -50%);

      h2 {
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        margin: 0;
        font-size: 16px;
      }

      p {
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        margin: 10px 0 0;
        font-size: 24px;
      }
    }
  }

  &__mobile {
    text-align: center;
  }

  &__mobile a {
    background: rgba(0,0,0,0.2);
    color: #fff;
    display: block;
    padding: 15px 0;
  }

  &__icon {
    margin: 20px 0 0;

    figure {
      float: left;
    }

    img {
      vertical-align: middle;
    }

    ul {
      float: left;
      margin: 0 0 0 24px;
      line-height: 68px;
    }

    li {
      float: left;
    }

    a {
      display: block;
      line-height: 68px;
      color: #0099e8;
      text-decoration: none;
    }
  }

  &__text {
    display: inline-block;
    padding-top: 2px;
    text-align: left;
  }

  &__text span {
    display: block;
    font-size: 1.4em;
    padding-top: 10px;
  }
}

.asidemain {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 300px;
    height: 100%;
    }

