#footer-wrap {
  padding: 0 20px 10px 20px;
  background: #212121;
  color: #fff;
}

#footer-nav {
  width: 70%;
  margin: 0 auto;
}

.footer-head {
  color: #fff;
  font-size: 16px;
  font-weight: 100;
  line-height: 1.4;
}

.footer-cell {
  display: block;
  float: left;
  padding: 0 20px 0 0;
  margin-top: 18px;


  & ul li {
    color: #fff;
  }

  & ul li:first-child {
    margin: 16px 0 0;
  }

  & ul li {
    margin: 14px 0 0;
  }

  & ul li a {
    display: block;
    opacity: .7;
    color: #fff;
    font-size: 12px;
    line-height: 1.5em;
  }

}

.inner-footer-cell:first-of-type {
  padding: 0 10px 0 0;
}

.inner-footer-cell {
  float: left;
  padding-left: 10px;
  vertical-align: top;
  width: 40%;
}

.footer-social-link {
  display: inline-block;

  i {
    background: transparent;
    margin: 16px 18px 0 0;
    font-size: 24px;
  }
}

.footer-nav-lang {
    width: auto;
}

.footer-bottom {
  width: 70%;
  margin: 30px auto 20px;

  & a {
    color: #fff;
    font-size: 12px;
    line-height: 1.5em;
    display: inline-block;
    margin-right: 10px;
    width: auto;
  }

  & a img {
    vertical-align: middle;
  }
}



.copy-right {
  width: 70%;
  display: inline-block;
  margin: 8px 0 0;
  text-align: center;
  vertical-align: sub;

  & small {
    font-size: 12px;
  }
}



.exhibit-btn {
  position: fixed;
  z-index: 1000;
  bottom: 32px;
  right: 32px;
  width: 160px;
  height: 160px;
  font-size: 22px;
  border-radius: 50%;
  background: #ea352d;
  color: #fff;
  text-align: center;

  & div {
    margin: 32px 0 0;
  }
  & i {
    margin: 8px 0 0;
    font-size: 54px;
  }
}


