.item-box-wrap {
  width: 100%;
  background-color: #f5f5f5;
  padding-top: 50px;
  padding-bottom: 50px;
}


.item-box-container {
  width: 700px;
  background: #fff;
  margin: 0 auto;
  padding: 24px 40px 40px;
}


.item-name {
  font-size: 24px;
  text-align: center;
  word-wrap: break-word;
  line-height: 1.4;
}


.item-main-content {
  margin: 16px 0 0;
}


.item-photo {
  float: left;
  min-width: 300px;
  max-width: 300px;
  min-height: 375px;

  &__stage {
    position: relative;
    overflow: hidden;

    &__item {
      width: 300px;

      &__inner {
        position: relative;
        width: 100%;
        height: 0;
        padding: 0 0 100%;

        img {
          width: 100%;
          vertical-align: bottom;
        }

        &__budge {
         @include budge;
        }

        &__sold {
          @include sold;
        }
      }
    }
  }

  &__dots {
    line-height: 0;
    font-size: 0;

    &__dot {
      opacity: 1;
      cursor: default;
      width: 60px;
      height: 60px;
      position: relative;
      overflow: hidden;
      display: inline-block;

      &__inner {
        position: static;
        width: auto;
        height: auto;
        padding: 0;
        overflow: hidden;

        img {
          width: 100%;
          vertical-align: bottom;
        }
      }
    }
  }
}


.item-detail-table {
  float: right;
  width: 100%;
  max-width: 300px;
  height: 375px;
  margin: 0 auto;

  th {
    width: 39%;
    text-align: left;
    font-weight: 400;
    background: #fafafa;
    padding: 8px;
    border-collapse: collapse;
    border: 1px solid #f5f5f5;
  }

  td {
    padding: 8px;
    border-collapse: collapse;
    border: 1px solid #f5f5f5;
  }

  a {
    display: block;
    color: #0099e8;
    text-decoration: none;
  }
}


.item-user-ratings {
  display: inline-block;
  margin: 8px 0 0 16px;

  i {
    font-size: 16px;
    vertical-align: middle;
  }

  .fa-smile-wink {
    color: $pink;
  }

  .fa-meh {
    color: $yellow;
  }

  .fa-frown {
    color: $blue;
  }

  span {
    vertical-align: middle;
  }

  &:first-child {
    margin: 0;
  }
}


.item-price-box {
  margin: 24px 0 0;
  text-align: center;
}


.item-price {
  margin: 0 16px 0 0;
  font-size: 50px;
  font-weight: 600;
}


.item-tax {
  font-size: 10px;
}


.item-shipping-fee {
  font-size: 16px;
}


.item-buy-btn {
  height: 60px;
  line-height: 60px;
  display: block;
  margin: 16px 0 0;
  background: #ea352d;
  color: #fff;
  line-height: 56px;
  text-align: center;
  font-weight: 600;
}

.item-not-buy-btn {
  height: 60px;
  line-height: 60px;
  display: block;
  margin: 16px 0 0;
  background: #888888;
  color: #fff;
  line-height: 56px;
  text-align: center;
  font-weight: 600;
  cursor: not-allowed;
}


.item-description {
  padding: 32px 0 0;
  line-height: 1.5;
  font-size: 18px;

  &__inner {
    white-space: pre-wrap;
  }
}


.item-button {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 40px;
  color: #333;
  border: 1px solid #f5f5f5;
  background: #f5f5f5;
}


.item-button-container {

  margin: 16px 0 0;
  font-size: 0;

  i {
    font-size: 14px;
    vertical-align: middle;
  }

  span {
    display: inline-block;
    margin: 1px 0 0 8px;
    font-size: 14px;
    vertical-align: middle;
  }

  a {
    display: inline-block;
    color: #0099e8;
    text-decoration: none;
  }
}


.item-button-report {
  margin: 0 0 0 8px;
  color: #333;
  background: #f5f5f5;
}


.item-button-left {
  float: left;
}


.item-button-right {
  margin: 8px 0 0;
  float: right;
}


.item-detail-message {
  width: 780px;
  padding: 24px 40px 40px;
  margin: 8px auto 8px;
}


.message-content {
  padding: 24px;
  background: #fff;
}


.message-items {
  margin: 0;

  li:first-child {
    margin: 1.5em 0 0;
  }

  li {
    margin: 60px 0 0;
  }
}


.message-user {
  float: left;
  position: relative;
  top: -20px;
  display: inline-block;
  color: #333;

  figure div {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
  }

  img {
    width: 100%;
    vertical-align: middle;
  }

  figcaption {
    width: 600px;
    min-width: 600px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 56px;
    max-width: 100%;
    height: 1.2em;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 12px;
    font-weight: 600;
  }
}


.message-body {
  float: right;
  position: relative;
  width: calc(100% - 85px);
  padding: 16px;
  background: #eef0f4;
  border-radius: 15px;
  line-height: 1.5;
  word-break: break-all;

  &:after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 3px;
    left: -19px;
    border: 8px solid transparent;
    border-right: 18px solid #edf1ee;
    -ms-transform: rotate(35deg);
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg);
  }
}


.message-icons {
  margin: 8px 0 0;

  time {
    display: block;
    color: #aaa;
  }

  i {
    vertical-align: middle;
  }

  i span {
    vertical-align: middle;
  }

  div {
    cursor: pointer;
    display: inline-block;
    color: #aaa;
    text-decoration: none;
    float: right;
  }

}


.message-icon-left {
  float: left;
}


.message-icon-right {
  form {
    display: inline;
  }

  form button{
    border: 0;
    outline: 0;
    cursor: pointer;
    min-height: 1.5em;
    background-color: #eef0f4;
  }
}


.message-form {
  margin: 8px 0 0;

  p {
    padding: 8px;
    font-size: 14px;
    background: #fff6de;
  }
}


.textarea-default {
  margin: 8px 0 0;
  display: block;
  width: 100%;
  box-sizing: border-box;
  max-width: 100%;
  min-height: 104px;
  padding: 10px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  line-height: 1.5;
}


.message-submit {
  width: 100%;
  margin: 8px 0 0;
  font-size: 0;
  text-align: center;
  background: #aaa;
  border: 1px solid #aaa;
  color: #fff;
}


.btn-default {
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
  border: 1px solid transparent;
  -webkit-transition: all ease-out .3s;
  transition: all ease-out .3s;
  cursor: pointer;
  text-align: center;
}

.modaal-content-container {
  h2 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
  }

  p {
  text-align: center;
  }
}
