#pick-up-container {
  padding: 40px 0;
  background-color: #f5f5f5
}

.pick-up-head {
font-size: 28px;
text-align: center;
}

.items-box-container {
  width: 940px;
  margin: 0 auto;
}

.items-head {
  font-size: 22px;
  text-align: center;
  margin: 26px 11px;
}

.items-head a {
  color: #0099e8;
}

.items-box-contents {
  width: auto;
  margin: 0 auto;
}

.items-box {
  margin: 0 0 0 20px;
  width: 213px;
  background-color: white;
  position: relative;
  float: left;
}

.items-box a {
  display: block;
  color : black;
}

.items-box__image {
  width: 213px;
  height: 220px;
  overflow: hidden;
  position: relative;
}

.items-box__image img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  height: 220px;
  object-fit: cover;

}

.items-box__body {
  padding: 16px;
  height: 110px;
}

.items-box__body__name {
  overflow: hidden;
  position: relative;
  font-weight: 400;
  height: 3em;
  line-height: 1.5;
  word-break: break-word;
  white-space: normal;
}

.items-box__body__info {
  margin: 8px 0 0;
}

.items-box__body__info__price {
  font-size: 20px;
  float: left;
}

.items-box__body__info__likes {
  float: right;
  font-size: 16px;
  font-weight: 400;
  color: #333;
}

.items-box__body__info__tax {
  font-size: 10px;
  clear: both;
}

.view-all {
  padding: 20px 0 30px;
  width: 99.5%;
  text-align: right;
}

.view-all a {
  color: #0099e8;
  text-decoration: none;
}

