= render 'shared/header'

.search--around
  .s--left
    .s--left__sort
    .s--left__search
  .s--right
    .s--right__result
      %h2.s--right__result__title
        検索結果 1~48件
    .s--right__item
      .s--right__item__one
        %figure.s--right__item__one__p
        .s--right__item__one__body

      .s--right__item__one
        %figure.s--right__item__one__p
        .s--right__item__one__body

      .s--right__item__one
        %figure.s--right__item__one__p
        .s--right__item__one__body

      .s--right__item__one
        %figure.s--right__item__one__p
        .s--right__item__one__body

      .s--right__item__one
        %figure.s--right__item__one__p
        .s--right__item__one__body

      .s--right__item__one
        %figure.s--right__item__one__p
        .s--right__item__one__body

      .s--right__item__one
        %figure.s--right__item__one__p
        .s--right__item__one__body

      .s--right__item__one
        %figure.s--right__item__one__p
        .s--right__item__one__body
