$gray: #f5f5f5;
$black: #333;
$white: #fff;
$red: #ea352d;
$hardgray: #ccc;
$pink: #EF5185;
$yellow: #FBA932;
$blue: #6AB5D8;


@mixin header_signed_in {
  position: relative;
  display: block;
  height: 44px;
  line-height: 32px;
  color: #333;
  font-size: 14px;
}

@mixin google {
  margin: 16px 0 0;
  background: $white;
  border: #979797 solid 1px;
  color: $black;
}

@mixin facebook {
  background: #385185;
  color: $white;
}

@mixin budge {
  border-color: #ea352d transparent transparent transparent;
  border-width: 100px 100px 0 0;
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 0;
  height: 0;
  border-style: solid;
}

@mixin sold {
  z-index: 2;
  font-size: 20px;
  position: absolute;
  left: 2%;
  z-index: 2;
  color: #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  letter-spacing: 2px;
  font-weight: 600;
  top: 11%;
}

body {
  position: relative;
  min-height: 100%;
  background: $gray;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  font-size: 14px;
  color: $black;
  line-height: 1;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.btn-sns {
  position: relative;
  & i {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translate(0, -50%);
  }
}

.btn-default {
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
  border: 1px solid transparent;
  transition: all ease-out .3s;
  cursor: pointer;
  text-align: center;
}

.input-default {
  height: 48px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: $white;
  line-height: 1.5;
  font-size: 16px;
  width: 100%;
}

.form-require {
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 2px;
  color: $white;
  font-size: 12px;
  vertical-align: top;
}

.input-default {
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid $hardgray;
  background: $white;
  line-height: 1.5;
  font-size: 16px;
}

.select-default {
  position: relative;
  z-index: 2;
  height: 48px;
  padding: 0 16px;
  border-radius: 4px;
  border: 1px solid $hardgray;
  background: 0;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
}

.icon-arrow-bottom {
  position: absolute;
  right: 16px;
  top: 50%;
  z-index: 2;
  color: #888;
  font-size: 8px;
  transform: translate(0, -50%);
}

.btn-default {
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
  transition: all ease-out .3s;
  cursor: pointer;
  text-align: center;
}

.birthday-select-wrap {
  display: block;
  .select-wrap {
    display: inline-block;
    width: 200px;
  }
  select {
    width: 100%;
  }
}

.form-group {
  margin: 40px 0 0;
  width: 100%;

  .form-arbitrary{
    background: $hardgray;
    margin: 0 0 0 8px;
    padding: 2px 4px;
    border-radius: 2px;
    color: $white;
    font-size: 12px;
    vertical-align: top;
  }

  label {
    font-weight: 600;
  }
  .form-require {
    background: #ea352d;
  }
}

.input-default {
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid $hardgray;
  background: $white;
  line-height: 1.5;
  font-size: 16px;
}


a {
  color: #0099e8;
  text-decoration: none;
}
.progress-bar li {
  position: relative;
  z-index: 1;
  display: inline-block;
  min-width: 40px;
  margin: 0 5% 0 0;
  font-size: 12px;
  color: #888;
}

.bold {
  font-weight: 600;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.s-icon {
  color: #888;
}
