$gray: #f5f5f5;
$black: #333;
$white: #fff;

@mixin google {
  margin: 16px 0 0;
  background: $white;
  border: #979797 solid 1px;
  color: $black;
}

@mixin facebook {
  background: #385185;
  color: $white;
}

body {
  position: relative;
  min-height: 100%;
  background: $gray;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  font-size: 14px;
  color: $black;
  line-height: 1;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.btn-sns {
  position: relative;
  & i {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translate(0, -50%);
  }
}

.btn-default {
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
  border: 1px solid transparent;
  transition: all ease-out .3s;
  cursor: pointer;
  text-align: center;
}

.input-default {
  height: 48px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: $white;
  line-height: 1.5;
  font-size: 16px;
  width: 100%;
}

.form-require {
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  vertical-align: top;
}

.input-default {
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
}

.select-default {
  position: relative;
  z-index: 2;
  height: 48px;
  padding: 0 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: 0;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
}

.icon-arrow-bottom {
  position: absolute;
  right: 16px;
  top: 50%;
  z-index: 2;
  color: #888;
  font-size: 8px;
  transform: translate(0, -50%);
}

.btn-default {
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
  transition: all ease-out .3s;
  cursor: pointer;
  text-align: center;
}

.birthday-select-wrap {
  display: block;
  .select-wrap {
    display: inline-block;
    width: 200px;
  }
  select {
    width: 100%;
  }
}

.form-group {
  margin: 40px 0 0;

  label {
    font-weight: 600;
  }
  .form-require {
    background: #ea352d;
  }
  .input-default {
    width: 100%;
    margin: 8px 0 0;
  }
}
