= render 'shared/header2'
%main.single-main
  %section.l--single
    %h2.l--single--head 新規登録
    .l--single--inner
      .l--single--inner__content
        = link_to new_user_registration_path, class: "btn-default btn-mail" do
          %i.far.fa-envelope
          メールアドレスで登録
        %button#facebook-login.btn-default.btn-sns.btn-sns-facebook
          %i.fab.fa-facebook-squere.btn-sns-facebook__icon
          Facebookで登録
        %button#google-login.btn-default.btn-sns.btn-sns-google
          Googleで登録
          = image_tag("google.png", class: "btn-sns-google__icon")
= render 'shared/footer2'
