.bread-crumb {
  position: relative;
  width: 100%;
  border-top: 1px solid #eee;
  -webkit-box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  background: #fff;

  ul {
    width: 70%;
    margin: 0 auto;
    padding: 17px 0 16px;
    white-space: normal;
  }

  ul li {
    display: inline-block;
    font-size: 14px;
    line-height: 1.2;
  }

  ul li a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
  }

  ul li i {
    margin: 0 8px;
    font-size: 9px;
    color: #888;
  }
}
