main {
  display: block;

  .login__panel {
    max-width: none;
    width: 456px;
    margin: 0 auto;
    background: $white;

    .no__account {
      padding: 40px 64px;
      text-align: center;

      & p {
        font-size: 14px;
      }

      a {
        display: block;
        margin: 8px 0 0;
        border: 1px solid #0099e8;
        background: #0099e8;
        color: $white;
        line-height: 40px;
      }
    }

    .login__to__sns {
      padding: 32px 64px;
      border-top: 1px solid #eee;

      .btn-sns-facebook {
        margin: 0;
        @include facebook;

        &__icon {
          font-size: 26px;
        }
      }
      .btn-sns-google {
        @include google;

        &__icon {
          font-size: 26px;
        }
      }
    }

    .login__form--inner {
      padding: 24px 64px 32px;
      border: 0;

      &__group:first-child {
        margin: 0;
      }

      &__group {
        margin: 24px 0 0;
      }
      .actions {
        .login-submit {
          margin: 24px 0 0;
        }
        .btn-red {
          background: #ea352d;
          border: 1px solid #ea352d;
          color: $white;
        }
      }
      &__forget {
        display: block;
        margin: 40px 0 0;
        color: #0099e8;
        text-decoration: none;
      }
    }
  }
}
